.heading_2{
    text-align: start;
}
.main-container{
    padding-bottom: 0em;
}
.main-container section{
    margin-bottom: 2.5em;
}

section ul li ul{
    list-style-type:circle;
    font-size: 0.8em;
    padding-top: 5px;
}
.list-space > li{
    padding-bottom: 10px;
}

.Details{
    font-weight: bold !important;
}

.donation-link, #how-to-donate a, #mail, #info a{
   text-decoration: none;
   font-weight: normal;
   color: rgb(0, 98, 255);
   width: fit-content;
}

#how-to-donate{
    list-style: upper-alpha;
}

#info{
    list-style: number;
}
#how-to-donate li, #info li{
    width:fit-content;
    text-align: start;
    font-size: 0.9em;
}

#how-to-donate-ans >li, #info-ans > li{
    padding-bottom: 25px;
}

.main-container .card-grid a {
    padding: 10px;
}

.card-grid{
    margin: 2em;
}

section ul ul{
    font-size: 0.9em !important;
}

button{
    border: none;
    color: white;
    background: none;
    cursor: pointer;
}
