.image-container img{
    height: 180px;
    width: 180px;
}

/* Media Query */
@media screen and (width<=1000px) {
    .image-flex{
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }
    .image-flex img{
        margin-top: 5em;
    }
}