.main-container{
    margin-bottom: 3em;
}

@media screen and (width <= 900px) {
    .image-flex{
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }
    .image-flex img{
        margin-top: 5em;
    }
}