.footer{
    display: flex;
    justify-content: center;

    background-color: rgb(217 150 0);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    padding: .75em;
    font-family: inherit;
    font-size: 1em;
    text-transform: uppercase;
}