
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');




.ag-format-container {
    width: 1142px;
    margin: 35px auto;
}

  @font-face {
    font-family: Heavitas;
    src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot);
    src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff2) format('woff2'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff) format('woff'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.ttf) format('truetype'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.svg#Heavitas) format('svg'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot?#iefix) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .ag-maecenas_title {
    padding: 20px 0 150px;
    background-image: linear-gradient(#4C1A57,#0B2545);
    /* background-image: linear-gradient(rgb(236 191 47),#599c22,#015f23); */

    background-repeat: no-repeat;
    object-fit: cover;
    background-position: bottom;

    text-align: center;
    font-family: Heavitas, sans-serif;
    font-weight: 100;
    letter-spacing: .05em;
    font-size: 30px;
    color: #FFF;  
    position: relative;
  }
  .ag-maecenas_title:before {
    content: "";
    height: 125px;
    width: 100%;
    background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
    -webkit-background-size: 1400px 140px;
    -moz-background-size: 1400px 140px;
    -o-background-size: 1400px 140px;
    background-size: 1400px 140px;

    position: absolute;
    left: 0;
    bottom: 0;
  
    -webkit-filter: drop-shadow(5px -10px 8px rgba(30, 30, 30, 0.2));
    filter: drop-shadow(5px -10px 8px rgba(30, 30, 30, 0.2));
  
    -webkit-animation: an-wave 20s linear infinite;
    -moz-animation: an-wave 20s linear infinite;
    -o-animation: an-wave 20s linear infinite;
    animation: an-wave 20s linear infinite;
  }
  
  .ag-maecenas_box {
    padding: 70px 0;
    background-color: #FFF;
  
    position: relative;
  }
  .ag-maecenas_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    padding: 0 0 120px;
  }
  .ag-maecenas_descr {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 60%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
  
    padding: 0 40px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-maecenas_title-item {
    padding: 0 0 15px;
  
    font-family: Heavitas, sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .ag-maecenas_tagline-item {
    padding: 0 0 15px;
  
    font-family: Heavitas, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .ag-requirement_item {
    padding: 10px 10px 10px 20px;
  
    position: relative;
  }
  .ag-requirement_item:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #00a2ff;
  
    position: absolute;
    top: 50%;
    left: 0;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .ag-maecenas_img-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
  
    height: 300px;
    padding: 0 15px;
  
    text-align: center;
  }
  .ag-maecenas_item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }



#heading{
  font-size: 7rem;
  line-height: 1em;
  margin: 0px;
  font-family: 'Dancing Script', cursive;
}

#tag-line{
  font-size: 1em !important;
  margin: 0px;
  padding-bottom: 45px;
  font-family: 'Dancing Script', cursive;
}

header span{
  font-family: 'Noto Sans Lao', sans-serif;
  font-size: 1.3em;
}

  .svg-img-block {
    display: none;
  }
  
  @-webkit-keyframes an-wave {
    100% {
      background-position-x: -1600px;
    }
  }
  @-moz-keyframes an-wave {
    100% {
      background-position-x: -1600px;
    }
  }
  @-o-keyframes an-wave {
    100% {
      background-position-x: -1600px;
    }
  }
  @keyframes an-wave {
    100% {
      background-position-x: -1600px;
    }
  }
  
  /*Media query for the font size*/

  @media screen and (width <= 1200px) {
    .ag-format-container{
      font-size: 27px;
    }
  }

  @media screen and (width <= 870px){
    #heading{
      font-size: 3.5em;
    }
    .ag-format-container{
      font-size: 24px;
    }
  }

  @media screen and (width <= 650px){
    .ag-format-container{
      font-size: 20px;
    }

  }
  @media screen and (width <= 500px){
    .ag-format-container{
      font-size: 18px;
      margin: 25px auto;
    }
    header span{
      font-size: 1em;
    }
  }
  @media screen and (width <= 350px){
    .ag-format-container{
      font-size: 15px;
    }
  }

  /* Media Query */

  @media screen and (width <=730px) {
    .ag-maecenas_title{
      font-size: 30px;
    }
  }
  @media screen and (width <=550px) {
    .ag-maecenas_title{
      font-size: 20px;
      padding-bottom: 125px;
    }

    .ag-maecenas_title:before{
      background-size: 900px 120px;
      height: 110px;
    }
  }
  @media screen and (width <=350px) {
    .ag-maecenas_title{
      padding-bottom: 100px;
    }

    .ag-maecenas_title:before{
      background-size: 900px 100px;
      height: 90px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-maecenas_item {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .ag-maecenas_item:nth-child(odd) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .ag-maecenas_descr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }
    .ag-maecenas_img-box {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
  
      height: 200px;
      width: 100%;
      min-width: 150px;
      padding: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  