
/*Add background color to main*/


main{
    padding: 0px 180px;
    background-color: #f7ffa9;
}

/* Main container */
.main-container{
    margin-left: 17vw;
    padding: 2em;
}

.main-container section:first-child{
    margin-bottom: 40px !important;
}
.main-container > .first-child-section, .main-container section:first-child span{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.main-container section{
    margin-bottom: 3.5em;
}

.main-container span{
    font-family: inherit;
}

#vision, .heading_2{
    font-size:1.4em;
    font-weight: bold;
}

section > p, section li, section span{
    font-size: 1.1em;
}


.img-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}


.card-container{
    margin: 30px ;
    margin-bottom: 4em !important;

    background-image: linear-gradient(35deg, #1bac3ac2, #3adb5338);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 1px 4px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 5px 5px;
    border-radius: 16px;
}
.card-container > p{
    background-color: #31ab4f;
    box-shadow: 0px 2px 3px #00000060;

    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0;
    padding: .25em;
    padding-left: .5em;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
}
.card-container .card-flex p{
    padding: .75em;
    padding-right: 0;
    margin: 0;
    margin-top: .5em;
    margin-bottom: 5px;
}

.card-container .card-flex a {
    margin-top: .5em;
    margin-bottom: 5px;
    padding: .35em .75em;
    font-size: .9rem;
    text-decoration: none;
    border-radius: 4px;
    /* background-color:rgb(236 175 0 / 87%); */
    background-color:rgb(48 47 41);
    color: white;
    transition: all 150ms;
}
.card-container .card-flex a:hover {
    opacity: .9;
}
.button-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-flex img{
    margin: 1.5em;
    width: 40%;
}
.tribute-flex{
    display: flex;
    flex-direction: column;
}
.tribute-flex span{
    font-size: inherit;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1em;
    max-width: 50em;
}


/* Media Query */
@media screen and (width<=1400px){
    main{
        padding: 0 120px;
    }
}
@media screen and (width <= 1200px) {
    .main-container{
        margin: 0;
    }
}
@media screen and (width <= 870px) {
    main{
        padding:0 80px;
    }
    .main-container{
        padding: 0em;
    }
    .card-container{
        margin: 0px;
    }
    .card-flex{
        padding: 1em;
    }

    .button-flex{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .tribute-flex p{
        padding-left: 0 !important;
    }
}

@media screen and (width <= 650px) {
    .flex{
        flex-direction: column;
    }
    .paragraph{
        width: 80vw;
    }
    main{
        padding: 0px 50px;
    }
    .img-container{
        margin:15px auto;
        width: 80%;
    }
}

@media screen and (width <= 550px) {
    main{
        padding: 0 35px;
    }
    .card-flex{
        flex-direction: column;
    }
    .flex{
        gap: 0em;
    }
    .main-container{
        font-size: 15px;
    }

    .card-container > .card-flex > p{
        padding: 0;
    }
    .card-flex img{
        width: 60%;
        margin: 0.5em;
    }
    .button-flex{
        align-items: center;
    }

    .main-container section:first-child{
        font-size: 1.1rem;
    }

    .card-container > p {
        font-size: 1.3em;
    }
}

@media screen and (width <= 400px){
    main{
    padding: 0 25px;
    }
    section > p, section li, section span{
        font-size: 1em;
    }
    .main-container section{
        margin-bottom: 2.5em;
    }
}