@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


:root{
    --primary-font: 'Nunito Sans', sans-serif;

    --primary-color: #f7c037;
    --secondary-color: #31ab4f;
    --background-color: #f7ffa9;
}
::-webkit-scrollbar{
    width : .75em;
}

::-webkit-scrollbar-track{
    background: hsla(0, 0%, 12%, 0.918);
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background: hsl(0, 0%, 67%);
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 44%);
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    background-color: #f7ffa9;
}
.flex{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

.block{
    display: block;
}

.bold{
    font-weight: bold;
}

.list-style-none{
    list-style: none;
}