@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
    --primary-font: 'Nunito Sans', sans-serif;

    --primary-color: #2b2a2a;
    --secondary-color: #F9F54B;
    --background-color: #fdfdfd;
    --leftsidebar-color: #fff2d3;
}
::-webkit-scrollbar{
    width : .75em;
}

::-webkit-scrollbar-track{
    background: hsl(0, 0%, 12%);
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background: hsl(0, 0%, 67%);
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 44%);
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    background-color: #f7ffa9;
}
.flex{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}